@model MicroStack.UI.ViewModel.AppUserViewModel

@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-md-4 offset-md-4">
        <h4 class="mb-3 text-center">User Register Form</h4>
        <hr />
        <form asp-action="Signup" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-group mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="UserSelectTypeId">User Type Select</label>
                <select asp-for="UserSelectTypeId" class="custom-select form-control">
                    <option value="">-- Select User Type --</option>
                    <option value="1">Is Buyer</option>
                    <option value="2">Is Seller</option>
                </select>
                <span asp-validation-for="UserSelectTypeId" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Register" class="btn btn-primary px-4" />
            </div>
        </form>

        <div class="mt-3 text-center">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
